anyio==4.12.1
babel==2.18.0
certifi==2026.2.25
commonmark==0.9.1
faicons==0.2.2
great-tables==0.20.0
h11==0.16.0
htmltools==0.6.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
importlib-metadata==8.7.1
importlib-resources==6.5.2
numpy==2.4.2
packaging==26.0
pandas==3.0.1
polars==1.38.1
polars-runtime-32==1.38.1
python-dateutil==2.9.0.post0
ruff==0.15.4
six==1.17.0
typing-extensions==4.15.0
tzdata==2025.3
zipp==3.23.0
